@media screen and (max-width: 1476px) {
    .left-right-margin {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  
  @media screen and (max-width: 514px) {
    .left-right-margin {
      padding-left: 10px;
      padding-right: 10px;
    }
    .mobile-navbar a,
  .mobile-navbar p,
  .mobile-navbar i {
    font-size: 14px !important;
  }

  .mobile-bottom-navbar {
    font-size: 14px !important;
  }
}
  @media screen and (max-width: 360px) {
    .left-right-margin {
      padding-left: 10px;
      padding-right: 10px;
    } 
}
@media screen and (max-width: 1274px) {
    .header-section1,
    .middle-header-section,
    .bottom-navbar-menu-container {
      display: none;
    }
  
    header {
      display: none;
    }
  }
/* Footer */
@media screen and (max-width: 1844px) {
    footer div {
      border-right: 0;
    }
  }
  @media screen and (max-width: 1100px) {
    footer {
      justify-content: space-around;
      column-gap: 55px;
    }
    footer div {
      width: 300px;
    }
  }
/*  copyright */
@media screen and (max-width: 1844px) {
    .copyright {
      display: block;
    }
    .copyright .payment img{
    text-decoration: none;
    display:inline-block;
    padding: 5px;
}
.copyright .payment{
    margin-left: 10px;
}
.copyright .payment img {
    height: 50px;
    width: 100px;
    color: #3a4855;
    background-color: #8a9096;
    padding: 8%;
    border-radius: 4px;
}

  }
  @media screen and (max-width: 1100px) {
    .copyright{
      display: block;
    }
    .copyright .payment img {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
  }